@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

html {
  font-size: 16px;
}

body {
  font-family: 'Playfair Display', serif;
  background-color: white;
}

main {
  background-color: rgb(238, 237, 237);
  padding: 1em auto;
}

h1, h2 {
  text-align: center;
  padding-top: 1em;
}

h1 {
  font-size: 3em;
  margin-bottom: -10px;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

.divider {
  border-bottom: 1px solid #888989;
  width: 97%;
  margin-top:10px;
  margin-bottom: -5px;
  margin-left: auto;
  margin-right: auto;
}

p, #footer {
  text-align: center;
}

p, blockquote {
  font-style: italic;
}

#img-div {
  background-color: white;
  margin: auto;
  width: 97%;
  text-align: center;
}

#image {
  display: block;
  max-width: 100%;    
  margin-left: auto;
  margin-right: auto;
}


.bold {
  font-weight: 800;
}

#tribute-info {
  width: 60%;
  text-align: justify;
  margin: 0 auto;
}

li {
  margin:1em 0;
}

figcaption{
  font-size: 0.8em;
  padding-top:0.5em;
  padding-bottom: 1em;
}

blockquote {
  margin: 2em auto;
}

#footer {
  margin-bottom: 2em;
  padding-bottom: 2em;
}